body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/woman.avif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 1rem;
}
#logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

#lists{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.li_list{
    text-decoration: none;
    color: white;
}

.btn1 a{
    text-decoration: none;
}

.text_div{
    color: white;
    padding: 5rem;
    margin-top: 5rem;
}